<!DOCTYPE html>
<html lang="en">

{% include 'empnavbar.html' %}

<head>
    <meta charset="UTF-8">
    <title>Student Details</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            font-family: Arial, sans-serif;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #428bca;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }
    </style>
</head>
<body>
  <center> <h1>Student Details</h1> </center>
  <br>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.fullname }}</td>
                <td>{{ student.department }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.contact }}</td>
                <td><a href="{% url 'enter_marks' student.id %}">Enter Marks</a></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
