<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ student.fullname }}'s Marks</h1>

{% if marks %}
    <table>
        <thead>
            <tr>
                <th>Course</th>
                <th>Marks</th>
            </tr>
        </thead>
        <tbody>
            {% for mark in marks %}
                <tr>
                    <td>{{ mark.course }}</td>
                    <td>{{ mark.marks }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No marks found.</p>
{% endif %}

</body>
</html>



{% include 'footer.html' %}